<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dance School</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/others.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }

        /*body {*/
        /*min-height: 2000px;*/
        /*padding-top: 70px;*/
        /*}*/
    </style>
</head>
<body ng-app="hello" ng-cloak class="ng-cloak">
<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="navigationController" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">Szkoła Tańca</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" uib-dropdown is-open="status.isopen">
                        <a class="dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle>Zajęcia <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#/">Taniec towarzyski</a>
                            </li>
                            <li>
                                <a href="#/activities">Taniec nowoczesny</a>
                            </li>
                            <li>
                                <a href="#/">Specjane okazje</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="menu-item" href="#/account">Your account</a></li>
                    <li><a class="menu-item" href="#/contact">Contact</a></li>
                    <li><a class="menu-item" href="" ng-click="login()" ng-hide="authenticated">Login</a></li>
                    <li><a class="menu-item" href="" ng-click="logout()" ng-show="authenticated">Logout</a></li>
                </ul>
        </div>
    </div>
</nav>
<!--<div class="container">-->
    <div ng-view></div>
<!--</div>-->
<script src="js/others.js"></script>
<script src="js/angular-app.js"></script>
</body>
</html>