<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Kontakt
                <small>Szkoła tańca</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../../index.html">Strona główna</a>
                </li>
                <li class="active">Kontakt</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <!-- Map Column -->
        <div class="col-md-8">
            <div id="map_canvas">
                <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
                    <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                    </ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
            <!-- Embedded Google Map -->
            <!--<iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>-->
        </div>
        <!-- Contact Details Column -->
        <div class="col-md-4">
            <h3>Dane kontaktowe</h3>
            <p>
                Wólczańska 256<br>95-111 Łódź<br>
            </p>
            <p><i class="fa fa-phone"></i> 
                <abbr title="Telefon">Telefon</abbr>: +48 42 234 34 45</p>
            <p><i class="fa fa-envelope-o"></i> 
                <abbr title="Email">Email</abbr>: <a href="mailto:szkolatanca@taniec.com">szkolatanca@taniec.com</a>
            </p>
            <p><i class="fa fa-clock-o"></i> 
                <abbr title="Godziny otwarcia">Godziny otwarcia</abbr>: Poniedziałek - Piątek: 9:00 - 21:00</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li>
                    <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row">
        <div class="col-md-8">
            <h3>Wyślij nam swoją wiadomość</h3>
            <form name="sentMessage" id="contactForm" novalidate ng-submit="submitContactData()">
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Imię i nazwisko:</label>
                        <input type="text" class="form-control" name="user" required ng-model="contactData.user">
                        <span style="color:red" ng-show="sentMessage.user.$dirty && sentMessage.user.$invalid">
                            <span ng-show="sentMessage.user.$error.required">Imię i nazwisko jest wymagane.</span>
                        </span>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Numer telefonu:</label>
                        <input type="tel" class="form-control" name="phone" ng-model="contactData.phone">
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Adres email:</label>
                        <input type="email" class="form-control" name="email" required ng-model="contactData.email">
                        <span style="color:red" ng-show="sentMessage.email.$dirty && sentMessage.email.$invalid">
                            <span ng-show="sentMessage.email.$error.required">Email jest wymagany.</span>
                            <span ng-show="sentMessage.email.$error.email">Niepoprawny adres email.</span>
                        </span>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Wiadomość:</label>
                        <textarea rows="10" cols="100" class="form-control" name="message" ng-model="contactData.message"
                                  required maxlength="999" style="resize:none"></textarea>
                    </div>
                </div>
                <div id="success"></div>
                <!-- For success/fail messages -->
                <button type="submit" class="btn btn-primary"  
                        ng-disabled="sentMessage.user.$dirty && sentMessage.user.$invalid || sentMessage.email.$dirty && sentMessage.email.$invalid">Wyslij wiadomość</button>
            </form>
        </div>

    </div>
    <!-- /.row -->

    <hr>
</div>
<!-- /.container -->