<div class="row">
    <div class="col-md-8">
        <uib-alert type="danger" ng-show="loginError">Niepoprawny login lub hasło.</uib-alert>
        <form role="form" ng-submit="login()" ng-hide="user.username">
            <div class="control-group form-group">
                <div class="controls">
                    <label>Login: </label>
                    <input type="text" class="form-control" name="user" required ng-model="credentials.username">
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label>Hasło:</label>
                    <input type="password" class="form-control" id="password" name="password" ng-model="credentials.password"/>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Zaloguj</button>
        </form>
    </div>
</div>