<header class="carousel slide">
    <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
        <uib-slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}" style="margin:auto;">

            <div class="carousel-caption">
                <h4>{{slide.text}}</h4>
            </div>
        </uib-slide>
    </uib-carousel>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Witamy w Wólczańska School Dance
            </h1>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-bookmark-o"></i> Taniec towarzyski</h4>
                </div>
                <div class="panel-body">
                    <p>Forma rozrywki wywodząca się z tańców salonowych i zabaw ludowych, uprawiana od początku XX
                        wieku, na początku był to taniec dla klas uprzywilejowanych, natomiast tańce ludowe pozostawiano
                        klasom niższym.</p>
                    <a href="#/activities" ng-click="loadBallroomDance()" class="btn btn-default">Dowiedz się więcej</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-bookmark-o"></i> Taniec nowoczesny</h4>
                </div>
                <div class="panel-body">
                    <p>Jest to zbiorcze określenie wielu gatunków i rodzajów tańca powstałych w XX i XXI wieku. Nazwa ta
                        może być stosowana do różnych, nie powiązanych ze sobą gatunków tanecznych.</p>
                    <a href="#/activities" ng-click="loadModernDance()" class="btn btn-default">Dowiedz się więcej</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-bookmark-o"></i> Specjalne okazje</h4>
                </div>
                <div class="panel-body">
                    <p>Jest to określenie na wszelkiego rodzaju wyjątkowe sytuacje jak pierwszy taniec weselny, tańce na
                        rozpoczęcie studniówek.</p>
                    <a href="#/activities" ng-click="loadSpecialOccasionDance()" class="btn btn-default">Dowiedz się
                        więcej</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Aktualności</h2>
        </div>
    </div>

    <div ng-repeat="news in filteredNews">
        <div class="row">
            <div class="col-md-6">
                <p><strong>{{news.title}}</strong></p>

                <p>{{news.description}}</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" ng-src="data:image/png;base64,{{news.image}}" alt="">
            </div>
        </div>

        <hr>
    </div>
    <pagination total-items="totalItems" items-per-page="itemsPerPage"
                ng-model="currentPage" ng-change="pageChanged()"
                next-text="Następne" previous-text="Poprzednie"></pagination>

</div>
